@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/HesapMakinesi/Ekran\ görüntüsü.png);
    font-family: 'Inter', sans-serif;
}

.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid  rgb(32, 26, 118);
    font-size: 34px;
    width: 456px;
    height: 65px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #333;
    border: 5px solid rgb(32, 26, 118);
    color: white;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator {
    border: 5px solid rgb(32, 26, 118);
    background-color: rgb(123, 117, 232,0.7);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

h1 {
    font-size: 28px;
}